<a href="https://colab.research.google.com/github/IsaacMib/Estudos-Programacao/blob/main/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
idade = int(input('Digite a idade do atleta! : '))
if (idade < 14):
  print('Infantil')
elif(idade < 18):
  print('Juvenil')
else:
  print('Senior')

Digite a idade do atleta! : 14
Juvenil

In [4]:
peso = float(input('Peso : '))
altura = float(input('Altura : '))
imc = float(peso / (altura * altura))
if (imc < 18.5):
  print('MAGREZA')
elif(imc < 24.9):
  print('NORMAL')
elif(imc < 29.9):
  print('SOBREPESO')
elif(imc < 34.0):
  print('OBESIDADE GRAU II')
elif(imc < 39.9):
  print('OBESIDADE GRAU II')
else:
  print('OBESIDADE GRAU III')

Peso : 105
Altura : 1.82
OBESIDADE GRAU II

In [ ]:
# listas
# Exemplos: 
# frutas ['maça', 'banana, 'goiaba', 'morango']

# tamanho de uma lista
# len(frutas)

# imprimir elemento da lista pelo índice
# print(lista[indice])

In [10]:
#Listas são estruturadas de dados formadas por elementos

num = [12, 13, 17, 22, 34, 47, 59, 69, 78]

In [11]:
#tamanho de uma lista

len(num)

9

In [ ]:
#A ordenação das listas têm índice que inicia em 0, e vai até o tamanho da lista

print(num[0]) #Primeiro ítem da lista
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5])
print(num[6])
print(num[7])
print(num[8])

In [36]:
# Lista de Outros Tipos

alunos = ['Victor', 'Amanda', 'Manuel', 'Guilherme', 'Riuken', 'Luana', 'Pedro', 'Pamela', 'Samira', 'Diego']

In [37]:
len(alunos)

10

In [ ]:
# Alterar o valores de ítens de lista
alunos[2] = 'Corno'

In [ ]:
#inserir valores na lista .append()
alunos.append('Joyce')
alunos

In [ ]:
 alunos.append(input('Digite o nome : '))

In [48]:
#Descobrir se há um valor determinado na lista, exibir sua posição

champions = ['Caitlyn', 'Ashe', 'Kayn', 'Vi', 'Miss Fotune', 'Sett', 'Aphelios']

if 'Caitlyn' or 'Ashe' or 'Miss Fortune' in champions:
   print('Adc')
if 'Kayn' or 'Vi' in champions:
  print('Jungle')

Adc
Jungle

In [50]:
champions = ['Caitlyn', 'Ashe', 'Kayn', 'Vi', 'Miss Fotune', 'Sett', 'Aphelios']

nome = input('Digite o Campeão : ')

if nome in champions:
  print('Deu bom: ', nome)
else:
  print('Deu ruim: ', nome)

Digite o Campeão : Aurelio Sol
Deu ruim:  Aurelio Sol

In [66]:
numeros = []
for num in range(15):
  numeros.append(num)

In [67]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)

In [61]:
a = 8
if a%2 == 0:
  print('É Par')
else:
  print('É Par')

É Par

In [68]:
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14